   .container {
      display: flex;
   }


   body {
    margin: 0;
    padding: 0;
    
   }
   
   .H {
       color: black;
       margin: 0;
       padding: 0;
       text-align: center;
       background-color: aqua;
       width: 1600px;
       height: 70px;

   }
   
    .imgO {
        margin-top: 50px;
        height: 375px;
        width: 375px;
        margin-left: 50px;
    }


