body {
    margin: 0;
    padding:  0;
}

.imgO {
   display: flex;
   flex: 1;
    margin: 0;
    height:  350px;
    margin-top: 50px;
    margin-left:  50px;
}

.container {
display: flex;
}
element.style {
    display: flex;
}
.H {
 display: flex;
 flex:  1;
 background-color:  aqua;
 width: auto;
 margin: 0;
 padding-top:  40px;
 flex-wrap: wrap;
 align-content: center;
 justify-content: center;
}

.Di {
    display: flex;
    flex:  1;
    background-color:  aqua;
    width: auto;
    height:  40px;
    margin: 0;
    margin-left:  450px;
    margin-top:  -354px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
   }

.D_txt {
    display: flex;
    flex:  1;
    margin: 0;
    margin-left:  450px;
    margin-top:  30px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}