element.style {
    display: flex;
    margin:  0;
    padding:  0;
}

body {
margin:  0;
padding:  0;
background-color: cornsilk;
}


.H {
    margin:  0;
    padding:  0;
    padding:  16px;
    background-color:#00539CFF;
    color:  #EEA47FFF;
}

.btn {
    border: none;
    border-radius: 10px;
    background-color: #EEA47FFF ;
    width: 130px;
    height: 40px;
    gap:  32px;
}

.btn_2 {
    margin-left: 32px;
    border: none;
    border-radius: 10px;
    background-color: #EEA47FFF ;
    width: 130px;
    height: 40px;
}

.btn_C {
    padding-left:  960px;
    margin-top:  -55px;
}

a {
    text-decoration: none; 
    color: white;
}

.H2 {
    text-align: center;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    color: #EEA47FFF ;
}